@import url('https://fonts.googleapis.com/css?family=Bubbler+One|Raleway');
body, html{margin: 0}
h1{
    text-align: center;
    font-family: 'Bubbler One', sans-serif;
}
a{
    color: white;
    text-decoration: none;
    font-family: 'Bubbler One', sans-serif;
    margin-left: 20vw;
    position: relative;
    font-size: 120%;
    top: 14px;
}
.head{
    width: 100vw;
    height: 50px;
    background-color: #463f3f;
    position: fixed;
    top: 0;
    left: 0;
}
main{
    margin-top: 60px; 
}
.img_d{
    height: 200px;
    width: 915px;
    margin-left: calc(50vw - 457px);
    margin-top: 5px;
}
.im{
    width: 300px;
    height: 200px;
}
.creators{
    font-family: 'Raleway', sans-serif;
    font-size: 130%;
    position: relative;
    left: 200px;
    top: 20px;
}
.Nikita{
    position: relative;
    left: -185px;
    top: 30px;
}
.date{
    font-family: 'Raleway', sans-serif;
    font-size: 130%;
    position: relative;
    top: 20px;
    left: 600px;
}
